<%- include("./shared/head") %>


<form action="/submit-new-post" method="POST">
    <P>Title</P>
    <input type="text" name="title" placeholder="Title">
    <br/><br>
    <p>Article</p>
    <input type="text" name="desc" placeholder="Description">
    <br/><br>

    <button class="btn btn-outline-primary">Add article</button>
    
</form>
<a href="/">Back</a>